/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        Space_Shift: Space_Shift {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        Enter_Shift: Enter_Shift {
            compatible = "zmk,behavior-hold-tap";
            label = "ENTER_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        CAD: CAD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RCTRL &kp LEFT_ALT &kp DEL>;
            label = "CAD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3     &kp N4  &kp N5                                                             &kp N6  &kp N7  &kp N8      &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E      &kp R   &kp T                                                              &kp Y   &kp U   &kp I       &kp O    &kp P     &kp BACKSLASH
&kp CAPS   &kp A   &kp S   &kp D      &kp F   &kp G                                                              &kp H   &kp J   &kp K       &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z   &kp X   &kp C      &kp V   &kp B   &kp LEFT_ALT                     &kp RIGHT_ALT             &kp N   &kp M   &kp COMMA   &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                           &kp RCTRL  &tog 2  &mo 1   &Space_Shift LEFT_SHIFT SPACE    &Enter_Shift RSHFT ENTER  &mo 1   &tog 2  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp GRAVE   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                          &kp F6  &kp F7    &kp F8         &kp F9   &kp F10           &kp DELETE
&trans      &trans  &trans  &trans  &trans  &trans                          &trans  &trans    &kp PAGE_UP    &trans   &kp MINUS         &kp EQUAL
&trans      &trans  &trans  &trans  &trans  &trans                          &trans  &kp HOME  &kp PAGE_DOWN  &kp END  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LSHIFT  &trans  &trans  &trans  &trans  &trans  &kp F11      &kp F12    &trans  &trans    &trans         &trans   &trans            &CAD
                            &tog 0  &tog 2  &tog 1  &kp SPACE    &kp ENTER  &tog 1  &tog 2    &tog 0
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &kp NUMBER_6                                 &trans  &trans          &trans          &trans           &trans  &trans
&kp TAB       &kp Q         &kp W         &kp E         &trans  &kp N7                                       &trans  &trans          &trans          &trans           &trans  &trans
&kp LSHFT     &kp A         &kp S         &kp D         &trans  &kp N8                                       &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&kp LCTRL     &kp Z         &kp X         &kp C         &kp M   &trans        &kp DELETE      &trans         &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
                                          &trans        &tog 2  &kp SPACE     &kp LEFT_ALT    &kp RIGHT_ALT  &trans  &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
